@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');


main {
    display: flex;
    height: 400px;
    /* padding: 0 15%; */
    align-items: center;
    justify-content: center;
    gap: 10rem;
    background-color: #495E57;
}

/* Left Side CSS */

.left-side {
    margin-top: -2rem;
    float: left;
}



/* Image CSS */

main img {
    /* max-width: 25%; */
    transform: translateY(10%);
    float: right;
    border-radius: 16px;
    width: 400px;
    aspect-ratio: 5 / 5;
    object-fit: cover;
    margin-top: 2rem;
}

/* Heading CSS */

main h1 {
    color: #f4ce14;
    line-height: 0px;
    font-size: 64px;
    font-family: 'Markazi Text', serif;
    font-weight: 300;
    letter-spacing: 2px;
}

/* Subtitle CSS */

main h2 {
    color: white;
    line-height: 0px;
    font-size: 40px;
    font-family: 'Markazi Text', serif;
    font-weight: 100;
}

/* Subtext CSS */

main p {
    /* text-align: justify; */
    margin-top: 2.7rem;
    max-width: 450px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    font-family: 'Karla', sans-serif;
}

/* Button CSS */

main button {
    background-color: #f4ce14;
    padding: 15px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: bold;
}